header {
  position: relative;
  background-color: var(--section-color);
}
.abonements {
  background: var(--pages-color);
  padding: 27px 50px;
}
.abonement-title {
  color: var(--font-color);
  font-size: 24px;

  margin-bottom: 45px;
  text-align: right;
}

.abonemets-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-bottom: 50px;
}
.abonemets-item {
  background-color: #bdbdbd;
  padding: 4px;
  border-radius: 0px 64px 0px 64px;
  overflow: hidden;
}
.upper-thumb {
  padding: 15px 10px;
}
.upper-thumb div {
  border-radius: 0px 64px 0px 0px;
  background-color: #d9d9d9;
  width: 230px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
}

.info-thumb {
  background-color: #ffffff;
  padding: 20px 10px;
  width: 250px;
  height: 255px;
  border-radius: 0 0 0 64px;
}
.abon-title,
.abon-info {
  color: #023688;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.36px;
}

.abon-title::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #bdbdbd;
  margin-bottom: 23px;
  margin-top: 12px;
}
.abon-info {
  font-size: 16px;
  letter-spacing: 0.32px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.abon-info:not(:last-child) {
  margin-bottom: 17px;
}
.abon-info.grn::before {
  content: "";
  width: 20.287px;
  height: 25px;
  background-image: url(../images/grn.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
.abonemets-item:last-child .info-thumb .abon-info {
  margin-bottom: 34px;
}
.btn-abon {
  width: 149.888px;
  height: 34px;
  border-radius: 5px;
  background-color: #022254;
  border: none;

  text-transform: uppercase;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.32px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
