@media screen and (min-width: 250px) {
  header {
    position: relative;
    background-color: var(--section-color);
  }
  .programs {
    padding: 16px 50px;
    /* background-color: var(--section-color); */
    background: var(--pages-color);
  }
  .programs-title {
    color: var(--font-color);
    font-size: 24px;
    margin-bottom: 25px;
  }
  .programs-item {
    padding: 10px 0;
  }
  .desc-text {
    font-size: 24px;
  }
  .desc {
    width: 255px;
    background-color: rgb(239, 239, 239);
  }

  .img-thumb {
    padding: 10px 15px;
  }
  .programs-list {
    margin-bottom: 40px;
  }

  .thumb {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 0px 70px;
  }

  .programs-btn {
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 14px;
  }
}
@media screen and (min-width: 768px) {
  .programs {
    padding: 30px 50px;
  }
  .programs-list {
    margin-bottom: 50px;
  }
  .programs-item {
    max-width: 230px;
  }
  .programs-btn {
    height: auto;
    margin-bottom: 18px;
    font-size: 16px;
  }
  .footer {
    padding: 15px 0;
  }
}
@media screen and (min-width: 1024px) {
  body {
    position: relative;
  }
  .programs {
    height: 100vh;
  }
  .programs-list {
    margin-bottom: 30px;
  }
  .programs-item {
    max-width: 252px;
  }
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #022254;
    padding: 14px 0;
  }
}
