:root {
  --bg-color: linear-gradient(
    to bottom,
    #023688 21%,
    #012661 52%,
    #000d22 100%
  );
  --section-color: #ffff;
  --pages-color: linear-gradient(
    to bottom,
    #ffffff 0%,
    #fff7f6 70%,
    #ffffff 100%
  );

  --font-color: #022254;
  --accent-color: #ff3533;
  --hover-accent-color: #e10602;
  --orange-accent-color: #ff4500;
  --benefits-accent: #5070a3;
  --profile-after-text: rgba(47, 47, 55, 0.686);
  --profile-text: rgb(47, 47, 55);
  --profile-link: rgb(41, 121, 255);
  --profile-accent: rgb(226, 229, 232);
  --bg-tablet-down-menu-item: rgb(248, 248, 248);
  --border-tablet-down-menu-item: rgb(215, 215, 215);
}
/* Dark theme */
[data-theme="dark"] {
  --bg-color: linear-gradient(
    to bottom,
    #16386f 16%,
    #012764 48%,
    #042457 80%,
    #000307 100%
  );
  --section-color: #022254;
  --pages-color: #032d71;
  --font-color: #ffffff;
  --profile-after-text: rgba(224, 224, 250, 0.686);
  --profile-text: rgb(224, 224, 250);
  --profile-link: rgb(200, 225, 255);
  --profile-accent: rgb(122, 122, 122);
  --bg-tablet-down-menu-item: rgb(138, 138, 138);
  --border-tablet-down-menu-item: rgb(111, 111, 111);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: linear-gradient(
      to bottom,
      #16386f 16%,
      #012764 48%,
      #042457 80%,
      #000307 100%
    );
    --section-color: #022254;
    --pages-color: #002869;
    --font-color: #ffffff;
    --profile-after-text: rgba(224, 224, 250, 0.686);
    --profile-text: rgb(224, 224, 250);
    --profile-link: rgb(200, 225, 255);
    --profile-accent: rgb(122, 122, 122);
    --bg-tablet-down-menu-item: rgb(138, 138, 138);
    --border-tablet-down-menu-item: rgb(111, 111, 111);
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.33;
  letter-spacing: normal;
  background: var(--bg-color);
}

.title {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: normal;
}

.btn {
  display: block;
  font-family: inherit;
  font-weight: 600;
  font-size: 16px;
  line-height: normal;
  letter-spacing: 1.33px;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  cursor: pointer;

  border: 1px solid var(--accent-color);
  border-radius: 15px;

  min-width: 157px;
  height: 47px;

  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

  transition: color 250ms linear, background-color 250ms linear,
    box-shadow 250ms linear;
}

.btn:is(:hover, :focus) {
  background-color: var(--hover-accent-color);
}

.container {
  width: 100%;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;

  /* outline: 1px solid rgb(236, 86, 199); */
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* --------------------header----------------------- */

header {
  background-color: var(--section-color);
  position: relative;
}

.logo {
  display: inline-block;
}
.logo-icon {
  width: 35px;
  height: 48px;
}
.tablet-down-menu {
  display: none;
}
.menu-nav,
.tablet-menu-nav {
  display: none;

  margin-left: 15px;
  margin-top: 20px;
}

.nav-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 41px;
  justify-content: center;
}
.nav-item {
  position: relative;
  padding-bottom: 20px;
  transition: all 250ms linear;
}

.nav-item.active-page::after {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  border-radius: 2px;

  background-color: var(--accent-color);

  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.nav-link {
  font-family: inherit;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.33;
  letter-spacing: 0.28px;
  color: var(--font-color);
  padding-bottom: 20px;
  transition: all 250ms linear;
}
.nav-link:is(:hover, :focus) {
  color: var(--accent-color);
}
.nav-item.active-page .nav-link {
  color: var(--accent-color);
}
.input-chek {
  display: none;
}
.theme-label {
  display: none;
}
.drop-down-wrap {
  display: none;
}

/* --------------theme-------------------------- */

.theme-label {
  display: none;
}
.input-chek {
  display: none;
}

/* --------------------drop-down-menu------------------ */
.drop-down-wrap {
  position: relative;
  display: none;
}

/* --------------------hero----------------------- */
.hero {
  background-color: var(--section-color);

  padding: 30px 0;
  position: relative;
}
.hero-img {
  position: absolute;
  top: 0;
  width: 260px;
  height: auto;
  opacity: 0.1;

  left: 50%;
  transform: translateX(-50%);
}
.hero .flex-wrap {
  position: relative;
  z-index: 1;
}

.hero-title {
  color: var(--font-color);
  font-size: 52px;
  font-weight: 700;
  line-height: 1.33;
  letter-spacing: 1.92px;
  text-align: center;
}
.after-title {
  color: var(--accent-color);
  font-size: 42px;
  font-weight: 500;
  line-height: 1.33;
  letter-spacing: 1.28px;
  margin-bottom: 61px;
  text-align: center;
}
.hero-btn {
  margin-left: auto;
  margin-right: auto;
}

/* --------------------about------------------------ */

.about {
  padding: 20px 10px;
}
.about-wrap {
  display: none;
}

.about-title {
  color: #fff;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 32px;
}
.about-text {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.33;
  letter-spacing: 0.52px;
}

.about-text-desc {
  margin-bottom: 40px;
}

.about-text-appeals {
  margin-bottom: 50px;
}

/* --------------------benefits------------------------ */
.benefits {
  background-color: var(--section-color);
  padding: 30px 0;
}

.benefits-title {
  color: var(--font-color);
  text-align: center;
  margin-bottom: 20px;
}

.benefits-list {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 10px;
}
.benefits-item {
  /* max-width: 250px; */
  width: 80%;
  height: auto;
  border-radius: 27px;
  background-color: var(--font-color);
  padding: 10px 15px;
  text-align: center;

  color: var(--section-color);
  text-align: center;

  font-size: 11px;

  font-weight: 500;
  line-height: 1.33;
  letter-spacing: 0.56px;
}

.benefits-icon {
  display: none;
  position: absolute;
  left: 99.5%;
  top: 60%;
}

.benefits-item:is(:hover, :focus) {
  background-color: var(--benefits-accent);
  cursor: pointer;
}

/* --------------------program------------------------ */

.programs {
  padding: 30px 0;
}

.programs-title {
  color: #fff;
  text-align: center;
  margin-bottom: 40px;
  font-size: 38px;
}

.programs-list {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.programs-item {
  display: block;
  border-radius: 0px 70px;
  overflow: hidden;

  max-width: 230px;
  width: 80%;
  height: 100%;
}

.thumb {
  background-color: #d9d9d9;
}
.img-thumb {
  background-color: #d9d9d9;
  display: flex;
  justify-content: center;
  padding: 8px 0;
  position: relative;
  overflow: hidden;
}

.img-thumb img {
  border-radius: 0px 70px;
  /* width: 200px; */
  width: 90%;
  height: auto;
}

.overlay-list {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  padding: 25px;

  transform: translateY(100%);
  background-color: #d9d9d9;
  opacity: 0;

  display: flex;
  justify-content: center;
  flex-direction: column;
  transition: opacity 250ms linear, transform 250ms linear;
}
.programs-item:is(:hover, :focus) .overlay-list {
  transform: translateY(0);
  opacity: 1;
}

.overlay-item {
  color: #000;
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.36px;
}

.desc {
  background-color: #ffff;
  width: 100%;
  height: 80px;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 16px 18px;
}
.desc-text {
  color: #000;
  text-align: center;
  font-size: 24px;

  line-height: 1.3;
  font-weight: 600;
  letter-spacing: 0.64px;
}
.programs-btn {
  margin-left: auto;
  margin-right: auto;
}

/* --------------------contacts------------------------ */
.contacts {
  background-color: var(--section-color);
  padding: 30px 0;
}
.contact-wrap {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}
.contact-title {
  color: var(--font-color);
  text-align: center;
  margin-bottom: 10px;
}

.contact,
.address {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-data,
.address-data {
  color: var(--font-color);
  font-size: 18px;

  font-weight: 500;
  line-height: 1.33;
  letter-spacing: 0.72px;

  transition: color 250ms linear;
}
.address-data {
  text-align: center;
}
.contact-data svg {
  fill: currentColor;
  transition: fill 300ms linear;
}
.tel {
  display: flex;
  align-items: center;
  gap: 10px;
}
.tel-icon,
.metro-icon {
  width: 20px;
  height: 20px;
}

.contact-data:is(:hover, :focus) {
  color: var(--accent-color);
}
.contact-data:is(:hover, :focus) svg {
  fill: var(--accent-color);
}

.sreet {
  font-weight: 400;
}
.metro {
  position: relative;
}

.metro-icon {
  position: absolute;
  right: 100%;
  top: 50%;
  transform: translateY(-50%);
}

.map {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: auto;
  margin-bottom: 36px;
}
.contacts-soc-text {
  color: var(--font-color);
  text-align: center;
  font-size: 21px;
  font-weight: 700;
  line-height: 1.33;
  letter-spacing: 0.48px;
  margin-bottom: 10px;
}

.social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.social-media-icon {
  width: 30px;
  height: 30px;
  fill: var(--font-color);
  transition: fill 250ms linear;
}
.social-media-icon:is(:hover, :focus) {
  fill: var(--accent-color);
}

/* --------------------footer------------------------ */
.footer {
  padding: 20px 0;
}
.footer .container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.footer-logo-link {
  color: #fff;
  font-family: inherit;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.33;
  letter-spacing: 0.48px;
  display: flex;
  align-items: center;
}
.footer-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-input-btn {
  min-width: 35%;
  min-width: 80px;
  height: auto;
  border-radius: 4px;
  background-color: var(--orange-accent-color);
  border: none;

  color: #fff;

  font-family: inherit;
  font-size: 12px;
  font-weight: 600;
  line-height: normal; /* 230.769% */
  letter-spacing: 0.78px;
  transition: background-color 250ms linear;
  padding: 9px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-input-btn:is(:hover, :focus) {
  background-color: var(--accent-color);
  cursor: pointer;
}
.footer-input {
  width: 65%;
  height: auto;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.45);
  background-color: rgba(33, 150, 243, 0);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

  padding: 9px;
  color: #ffff;
  margin-right: 10px;
}
.footer-input:hover {
  cursor: pointer;
}

.footer-input::placeholder {
  color: rgba(255, 255, 255, 0.41);
  font-family: inherit;
  font-size: 12px;
  font-weight: 400;
  line-height: normal; /* 125% */
  letter-spacing: 0.48px;
}

/* -----------modal--------------- */

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(35, 35, 47, 0.8);
  z-index: 2;
}

.modal {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 290px;
  /* min-height: 500px; */
  background-color: #fcfcfc;

  padding: 24px 15px;
  font-family: "Roboto", sans-serif;
  position: relative;
}
.modal-open {
  overflow: hidden;
}

.modal-close-btn {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #e7e9fc;
  outline: 1px solid #d6cdf8;
  border: none;

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  left: 97%;
  top: -9px;
}
.modal-close-btn:is(:hover, :focus) {
  background-color: var(--orange-accent-color);
  outline: 1px solid #cd3700;
  fill: #fff;

  cursor: pointer;
}
.modal-close-icon {
  width: 15px;
  height: 15px;
}
.modal-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.modal-title {
  color: #023688;
  text-align: center;
  font-family: inherit;
  font-size: 18px;

  font-weight: 700;
  line-height: 1.33;
  letter-spacing: 0.6px;
  margin-bottom: 16px;
}
.modal-label {
  color: #757575;
  font-family: inherit;
  font-size: 10px;

  font-weight: 400;
  line-height: 1.33;
  letter-spacing: 0.12px;
  padding: 0;
  margin: 0;
  position: relative;
  cursor: pointer;
}

.modal-input,
.modal-textarea {
  width: 100%;
  height: 30px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding: 0;

  font-family: inherit;
  font-size: 12px;
  line-height: 1; /* 116.667% */
  letter-spacing: 0.48px;
  color: #022254;
}

.modal-input {
  padding-left: 28px;
}

.modal-textarea {
  padding: 8px 10px;
}

.modal-textarea::placeholder {
  color: rgba(46, 47, 66, 0.4);
  font-family: inherit;
  font-size: 12px;
  font-weight: 400;
  line-height: calc(14 / 12); /* 116.667% */
  letter-spacing: 0.48px;
}

.modal-input:focus,
.modal-textarea:focus {
  outline: none;
  border: 1px solid #023688;
}

.input-icon {
  width: 13px;
  height: 13px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-33%);
  margin-left: 10px;
  fill: #023688;
  cursor: text;
}

.modal-input:not(:last-child) {
  margin-bottom: 8px;
}

.modal-textarea {
  height: 80px;
  resize: none;
  margin-bottom: 16px;
}

.checkbox-label {
  color: #8e8f99;
  font-family: inherit;
  font-size: 10px;
  font-weight: 400;
  line-height: calc(14 / 10); /* 116.667% */
  letter-spacing: 0.48px;

  display: flex;

  margin-bottom: 24px;
}

.checkbox-label:is(:hover, :focus) {
  cursor: pointer;
}

.checkbox-label a {
  color: #023688;
  text-decoration: underline;
  margin-left: 5px;
}

.checkbox-icon {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);

  margin-right: 8px;
  position: relative;
}

.check-icon {
  position: absolute;
  right: 50%;
  top: 50%;
  transform: translate(50%, -50%);
  fill: transparent;
  width: 8px;
  height: 6px;
}

.modal-checkbox:checked + .checkbox-icon {
  background-color: var(--orange-accent-color);
  border: none;
}

.modal-checkbox:checked + .checkbox-icon .check-icon {
  fill: #fff;
}

.modal-btn {
  width: 120px;
  height: 40px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background-color: #023688;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

  text-transform: uppercase;
  color: #ffff;
  margin-left: auto;
  margin-right: auto;

  color: #fff;
  text-align: center;

  /* Button Text */
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.64px;
}

.modal-btn:is(:hover, :focus, :active) {
  background-color: #ff4500;
  cursor: pointer;
}

.modal-input:not(:placeholder-shown):not(:focus):valid {
  background-color: #edffe4;
}

.modal-input:not(:placeholder-shown):not(:focus):invalid {
  background-color: #ffe4e4;
}
