header {
  position: relative;
  /* background-color: var(--section-color); */
  background-color: #023688;
}
.nav-link {
  color: #fff;
}
.trainers {
  background-color: var(--section-color);
  padding: 0 50px;
}
.trainers .container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.trainers-desc {
  width: 600px;
  height: 100%;
}

.trainers-text,
.trainers-desc-title {
  color: var(--font-color);
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.64px;
}
.trainers-desc-title {
  font-weight: 700;
}
.achievements,
.education {
  margin-bottom: 20px;
}

.treiners-data {
  background-color: #023688;
  height: 100%;
  position: relative;
  width: 300px;
  padding: 38px 15px 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 560px;
}
.coach-title {
  color: #fff;
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.1px;
  margin-bottom: 50px;
}
.coach-photo-thumb {
  border-radius: 35px;
  overflow: hidden;
  margin-bottom: 30px;
}
.coach-photo {
  width: 200px;
  height: 260px;
  display: block;
}
.coach-data {
  color: #fff;

  text-align: center;
  font-size: 18px;

  line-height: 1.33; /* 117.5% */
  letter-spacing: 0.8px;
}
.coach-data h3 {
  margin-bottom: 20px;
  font-weight: 500;
}

.switch-btn {
  position: absolute;
  left: 130%;
  bottom: 0;
  background-color: transparent;
  border: none;
}

.right-arrow-icon {
  display: block;
  width: 50px;
  fill: var(--font-color);
  transition: fill 250ms linear;
}

.right-arrow-icon:is(:hover, :focus) {
  fill: var(--accent-color);
  cursor: pointer;
}

.footer {
  background-color: #023688;
  padding: 28px 0;
}
